
#Home, #ensemble, #Xp, #Knowledge, #follow, #Contact, footer{
  display: none;
}

body, html{
	height: 100%;
	margin: 0;
	font: 400 15px/1.8 "Lato", sans-serif;
	color: #777;
}



.img-1, .bgimg-2, .Contact{
	position: relative;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-1{
	min-height: 100%;
}



#Contact{
  min-height: 400px;
}


.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

.caption span.border {
  background-color: black;
  font-family:  Abril fatface, sans-serif;
  color: white;
  padding: 18px;
  font-size: 30px;
  letter-spacing: 10px;
}



/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}




#About{
	display: flex;
}
.text-about{
	color: #777;
	background-color:white;
	text-align:center;
	padding:50px 80px;
	text-align: justify;

}


.bouton{
  position: absolute;
  width: 200px;
  height: 50px;
  margin-top: 50px;
  margin-left: 50px;
}

.bouton a{
  text-decoration: none;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #C0C0C0;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
  border-top: 1px solid rgba(255,255,255,0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
  border-radius: 30px;
  color: #fff;
  z-index:1 ;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.5s;
}


.bouton:hover a{
  letter-spacing: 3px;
}

.bouton a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left,rgba(255,255,255,0.15),transparent);
  transform: skewX(45deg) translateX(0);

}
.bouton:hover a::before{
  transform: skewX(45deg) translateX(200%);
}


.container .btn:hover::before{
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.profil img{
	padding-bottom: 50px;
	padding-top: 50px;
	padding-right: 80px;
	width: auto;
	height: 500px;
}

.bar4{ 
    width: 120px;
    height: 2px;
    background: black;
    border-radius: 5px;
    position: relative;
}

h2{
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 40px "Lato", sans-serif;
  color: #111;
  margin-top: 15px;
  margin-bottom: 15px;
}

.bar5{
    width: 260px;
    height: 2px;
    background: black;
    border-radius: 5px;
    margin-bottom: 30px;
}


h3{
  font-size: 2em;
}

#Atout{
	display: flex;
}

#Skill, #Xp{
	padding:50px 80px;
}

#Xp nav ul{
	list-style-type: none;
}

#Xp nav ul li{
	padding-bottom: 40px;
}

.Ap{
	font-style: italic;
}

#Knowledge{
	padding-top: 10px;
	padding-bottom: 100px;
	padding-right: 50px;
	padding-left: 50px;
}

.Knowledge{
	text-align: center;
}

.logo img{
	width: auto;
	height: 120px;
}

.logo{
	padding-right: 10px;
	padding-left: 100px;
}

.all-logo{
	display: inline-flex;
	padding: 80px 110px;
}

footer{
  width: 100%;
  position: absolute;
  height: 160px;
  color:#ddd;
  background-color:#282E34;
}

h6{
  width: 100%
  padding-top:40px;
  text-align: center;
  color: white;
  font-size: 1.6em;
}

.footer{
  display: inline-flex;
  background-color:#282E34;
  width: 100%;
}

.find-1, .find-2, .find-3{
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 1%;
  padding-top: 2%;
  font-size: 0.9em;
}

.find-1{
  margin-left: 19.3%;
}

.f-logo{
  text-align: center;
}

.f-logo img{
  width: auto;
  height: 25px;
}

.copyright{
  width: 100%;
  color: grey;
  text-align: center;
  font-size: 0.6em;
}


@media only screen and (max-width: 600px) {
  .caption span.border{
    padding: 18px;
    font-size: 25px;
    letter-spacing: 6px;
  }
  #About{
    display: block;
  }
  .text-about{
    padding-right: 80px;
    padding-top: 50px;
    padding-left: 80px;
    padding-bottom: 70px;
  }
  .bouton{
    margin-top: 30px;
  }  
  .profil img{
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 80px;
  width: auto;
  height: 400px;
  }
  #Atout{
  display: inline-block;
  }
  #Xp, #Skill{
    padding-top:0px;
    padding-bottom:0px;
    padding-right: 0px;
    padding-left: 50px;
    }
  #Knowledge{
  padding-bottom: 0px;
  text-align: center;
  align-items: center;
  }
  .all-logo{
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  }
  .logo{
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 25px;
  }
  .footer{
    display: inline-block;
  }
  .find-1, .find-2, .find-3{
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
  padding-top: 0%;
  align-items: center;
  text-align: center;
  }

.find-1{
  margin-left: 0%;
  }
}

@media only screen and (max-width: 1168px) {
  .caption span.border{
    padding: 18px;
    font-size: 25px;
    letter-spacing: 6px;
  }
  #About{
    display: block;
  }
  .text-about{
    padding-right: 80px;
    padding-top: 50px;
    padding-left: 80px;
    padding-bottom: 70px;
  }
  .bouton{
    margin-top: 30px;
  }  
  .profil img{
  padding-bottom: 50px;
  padding-top: 50px;
  padding-left: 80px;
  width: auto;
  height: 400px;
  }
  #Atout{
  display: inline-block;
  }
  #Xp, #Skill{
    padding-top:0px;
    padding-bottom:0px;
    padding-right: 0px;
    padding-left: 50px;
    }
  #Knowledge{
  padding-bottom: 0px;
  text-align: center;
  align-items: center;
  }
  .all-logo{
  display: inline-block;
  padding-top: 30px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
  }
  .logo{
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 25px;
  }
  .footer{
    display: inline-block;
  }
  .find-1, .find-2, .find-3{
  padding-left: 0%;
  padding-right: 0%;
  padding-bottom: 0%;
  padding-top: 0%;
  align-items: center;
  text-align: center;
  }

.find-1{
  margin-left: 0%;
  }
}
